@font-face {
  font-family: 'Proxima-Nova';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Proxima-Nova-Bold.otf') format('opentype');
}

.customred {
  color: #FC726F;
}

.customblue {
  color: #37B1DD;
}

.customyellow {
  color: #FFBA31;
}

.flexcontainer {
  height: 300px;
  width: 700px;
  justify-content: center;
  text-align: center;
  padding-top: 45px;
  margin-bottom: 0.05rem;

  font-family: 'Proxima-Nova', sans-serif;
  font-weight: bold;
  color: #404040;
}

html, body {
  height: 100%;
  margin: 0;
}

h1, h3 {
  margin: 0.5rem;
  letter-spacing: 0.07rem;
}

h3 {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.0rem;
}

.flexbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  color: #D0D0D0;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

 a i.fa-github {
  font-size: 1.75rem;
}

li {
  display: inline-block;
}

.links a i {
  transition: 0.3s ease;
}

i.fa-github:hover {
  color: #3399ff;
}

i.fa-paper-plane:hover {
  color: #ffcc00;
}

i.fa-file-text:hover {
  color: #ff6666;
}

.somethingcool {
  letter-spacing: 0.07rem;
  font-size: 0.85rem;
  font-style: normal;;
  position: absolute;
  margin-right: 1rem;
  text-decoration: none;
  bottom: 0;
  right: 0;
  margin-bottom: 0.5rem;
  color: #bfbfbf;

  text-decoration: none;
}

.somethingcool:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.somethingcool:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
