@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'Proxima-Nova';
  src: url('../fonts/Proxima-Nova-Bold.otf') format('opentype');
}

.customred {
  color: #FC726F;
}

.customblue {
  color: #37B1DD;
}

.customyellow {
  color: #FFBA31;
}

.flexcontainer {
  height: 300px;
  width: 700px;
  justify-content: center;
  text-align: center;
  padding-top: 45px;
  margin-bottom: 2.5rem;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Proxima-Nova', sans-serif;
  font-weight: bold;
  color: #404040;
}

h1, h3 {
  margin: 0.5rem;
  letter-spacing: 0.07rem;
}

h3 {
  font-size: 1.5rem;
}

h1 {
  font-size: 3.0rem;
}

.flexbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  color: #D0D0D0;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
 font-size: 1.5rem;
}

 a i.fa-github {
  font-size: 1.75rem;
}

li {
  display: inline-block;
}

.links a i {
  transition: 0.3s ease;
}

i.fa-github:hover {
  color: #3399ff;
}

i.fa-paper-plane:hover {
  color: #ffcc00;
}

i.fa-file-text:hover {
  color: #ff6666;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
